
#start-screen{
    width: auto;
    height: 70vh;

    display: flex;
    flex-direction: column;

    gap: 10px;

    align-items: center;
    justify-content: center;


}
#start-screen h1{
    font-size: 5rem;
    font-family: 'Permanent Marker', cursive;

    text-shadow: 4px 4px rgb(87, 0, 0);

    color: red;

    cursor: default;
}
#start-screen span{
    cursor: default;

}
#start-screen h1 span{
    cursor: pointer;
}
#start-screen button {
    top: 400px;
    
    width: 170px;
    height: 50px;

    border: none;
    border-radius: 8px;

    background-color: rgba(0, 0, 0, 0.26);
    color: red;

    outline: none;

    font-weight: bolder;

    position: absolute;

    cursor: pointer;
}
#start-screen button:hover {
    background-color: rgb(83, 0, 0);

    transition: 500ms;

   
}

#game-screen{
    display: flex;

    align-items: center;
    justify-content: center;

    width: auto;
    height: 100vh;

    cursor: crosshair
}

.kills {
    display: flex;

    align-items: center;
    justify-self: center;

}
.kills span {
    color: red;

    font-weight: bolder;

    font-size: 1.5rem;
}

.skull{
    height: 30px;
}

.infos{
    display: none;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;

    gap: 10px;

    margin-top: 30px;
    margin-left: 30px
}

.hord span {
    font-weight: bolder;

    color: red;

    margin-left: 10px;
}