
#start-screen{
    width: auto;
    height: 70vh;

    display: flex;
    flex-direction: column;

    gap: 10px;

    align-items: center;
    justify-content: center;


}
#start-screen h1{
    margin-top: 200px;
    
    font-size: 5rem;
    font-family: 'Permanent Marker', cursive;

    text-shadow: 4px 4px rgb(87, 0, 0);

    color: red;

    cursor: default;
}
#start-screen span{
    cursor: default;

}
#start-screen h1 span{
    cursor: pointer;
}
#start-screen button {

    width: 170px;
    height: 50px;

    border: none;
    border-radius: 8px;

    background-color: rgba(0, 0, 0, 0.26);
    color: red;

    outline: none;

    font-weight: bolder;

    cursor: pointer;
}
#start-screen button:hover {
    background-color: rgb(83, 0, 0);

    transition: 500ms;

   
}

#game-screen{
    display: none;

    align-items: center;
    justify-content: center;

    width: auto;
    height: 100vh;

    cursor: crosshair
}

.kills {
    display: flex;

    align-items: center;
    justify-self: center;

}
.kills span {
    color: red;

    font-weight: bolder;

    font-size: 1.5rem;
}

.skull{
    height: 30px;
}

.infos{
    display: none;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;

    gap: 10px;

    margin-top: 30px;
    margin-left: 30px
}

.hord span {
    font-weight: bolder;

    color: red;

    margin-left: 10px;
}

#end-screen{
    display: none;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: auto;
    height: 100vh;
}
#end-screen span {
    font-size: 5rem;
    font-family: 'Permanent Marker', cursive;

    text-shadow: 4px 4px rgb(87, 0, 0);

    color: red;

    cursor: default;
}

.end-screen-btns {
    display: flex;

    height: auto;

    align-items: center;
    justify-content: space-between;
}

.end-screen-btns button {
    margin-top: 30px;
    
    width: 150px;
    height: 50px;

    border: none;
    border-radius: 8px;

    background-color: rgba(0, 0, 0, 0.26);
    color: red;

    outline: none;

    font-weight: bolder;


    cursor: pointer;
}

.death-screen{
    display: none;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: auto;
    height: 100vh;
    
}

.death-screen span {
    font-size: 5rem;
    font-family: 'Permanent Marker', cursive;

    text-shadow: 4px 4px rgb(87, 0, 0);

    color: red;

    cursor: default;
}

.gunContainer{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    height: 91vh;
    width: auto;
    
}

.gunsInfos{
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: auto;
    width: 200px;

    border: 3px solid red;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.637);

    margin-right: 30px;
    margin-bottom: 30px;
    padding: 10px;

    gap: 10px;
}
.gun {
    width: 60%
}
#gun-name {
    font-family: 'Permanent Marker', cursive;
    color: red;

    font-size: 32px;

    position: absolute;

    top: -40px;

    text-shadow: 4px 4px rgba(0, 0, 0, 0.637);

}

#ammo-container {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 3px;
}
